# Java
target/
*.class

# Maven
.mvn/timing.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env
.env.*

# Node
node_modules/
dist/

# Docker
docker-compose.override.yml

# Kubernetes
*.secret.yaml

# Temporary
tmp/
temp/
# Local database backup
infrastructure/kubernetes/product-service/postgres-backup.sql

# Kubernetes secrets
infrastructure/kubernetes/product-service/postgres-secret.yaml
